#output {
    font-weight: bold
}
form {
    display: block;
    width: 90%;
    margin: auto;
    background-color: #ddd;
    border: thin solid black;
}
fieldset {
    border: none;
    margin: 1em;
}
legend {
    font-weight: bold;
}
input[type=number] {
    width: 4em;
}
#element label {
    font-family: monospace;
}